/* ===== 14x14 icons ===== */

.iAbacus { background: url(../images/abacus.png) no-repeat 12px; }
.iAdd { background: url(../images/add.png) no-repeat 12px; }
.iAddressBook { background: url(../images/addressBook.png) no-repeat 12px; }
.iAdminUser { background: url(../images/adminUser.png) no-repeat 12px; }
.iAdminUser2 { background: url(../images/adminUser2.png) no-repeat 12px; }
.iAirplane { background: url(../images/airplane.png) no-repeat 12px; }
.iAlarm { background: url(../images/alarm.png) no-repeat 12px; }
.iAlert { background: url(../images/alert.png) no-repeat 12px; }
.iAlert2 { background: url(../images/alert2.png) no-repeat 12px; }
.iAndroid { background: url(../images/android.png) no-repeat 12px; }
.iArchive { background: url(../images/archive.png) no-repeat 12px; }
.iArrowDown { background: url(../images/arrowDown.png) no-repeat 12px; }
.iArrowLeft { background: url(../images/arrowLeft.png) no-repeat 12px; }
.iArrowRight { background: url(../images/arrowRight.png) no-repeat 12px; }
.iArrowUp { background: url(../images/arrowUp.png) no-repeat 12px; }

.iBag { background: url(../images/bag.png) no-repeat 12px; }
.iBaloons { background: url(../images/baloons.png) no-repeat 12px; }
.iBandaid { background: url(../images/bandaid.png) no-repeat 12px; }
.iBasket { background: url(../images/basket.png) no-repeat 12px; }
.iBasket2 { background: url(../images/basket2.png) no-repeat 12px; }
.iBattery { background: url(../images/battery.png) no-repeat 12px; }
.iBatteryFull { background: url(../images/batteryFull.png) no-repeat 12px; }
.iBell { background: url(../images/bell.png) no-repeat 12px; }
.iBell2 { background: url(../images/bell2.png) no-repeat 12px; }
.iBigBrush { background: url(../images/bigBrush.png) no-repeat 12px; }
.iBlackberry { background: url(../images/blackberry.png) no-repeat 12px; }
.iBlock { background: url(../images/block.png) no-repeat 12px; }
.iBlocks { background: url(../images/blocks.png) no-repeat 12px; }
.iBluetooth { background: url(../images/bluetooth.png) no-repeat 12px; }
.iBluetooth2 { background: url(../images/bluetooth2.png) no-repeat 12px; }
.iBluray { background: url(../images/bluray.png) no-repeat 12px; }
.iBook { background: url(../images/book.png) no-repeat 12px; }
.iBookLarge { background: url(../images/bookLarge.png) no-repeat 12px; }
.iBooks { background: url(../images/books.png) no-repeat 12px; }
.iBright { background: url(../images/bright.png) no-repeat 12px; }
.iBubbles { background: url(../images/bubbles.png) no-repeat 12px; }
.iBubbles2 { background: url(../images/bubbles2.png) no-repeat 12px; }
.iBuilding { background: url(../images/building.png) no-repeat 12px; }
.iBullsEye { background: url(../images/bullsEye.png) no-repeat 12px; }
.iBuzz { background: url(../images/buzz.png) no-repeat 12px; }

.iCalc { background: url(../images/calc.png) no-repeat 12px; }
.iCamera { background: url(../images/camera.png) no-repeat 12px; }
.iCamera2 { background: url(../images/camera2.png) no-repeat 12px; }
.iCar { background: url(../images/car.png) no-repeat 12px; }
.iCart { background: url(../images/cart.png) no-repeat 12px; }
.iCart2 { background: url(../images/cart2.png) no-repeat 12px; }
.iCart3 { background: url(../images/cart3.png) no-repeat 12px; }
.iCart4 { background: url(../images/cart4.png) no-repeat 12px; }
.iCashRegister { background: url(../images/cashRegister.png) no-repeat 12px; }
.iCassette { background: url(../images/cassette.png) no-repeat 12px; }
.iCat { background: url(../images/cat.png) no-repeat 12px; }
.iCd { background: url(../images/cd.png) no-repeat 12px; }
.iChair { background: url(../images/chair.png) no-repeat 12px; }
.iChart { background: url(../images/chart.png) no-repeat 12px; }
.iChart2 { background: url(../images/chart2.png) no-repeat 12px; }
.iChart3 { background: url(../images/chart3.png) no-repeat 12px; }
.iChart4 { background: url(../images/chart4.png) no-repeat 12px; }
.iChart5 { background: url(../images/chart5.png) no-repeat 12px; }
.iChart6 { background: url(../images/chart6.png) no-repeat 12px; }
.iChart7 { background: url(../images/chart7.png) no-repeat 12px; }
.iChart8 { background: url(../images/chart8.png) no-repeat 12px; }
.iCheck { background: url(../images/check.png) no-repeat 12px; }
.iChemical { background: url(../images/chemical.png) no-repeat 12px; }
.iChrome { background: url(../images/chrome.png) no-repeat 12px; }
.iClipboard { background: url(../images/clipboard.png) no-repeat 12px; }
.iClock { background: url(../images/clock.png) no-repeat 12px; }
.iClose { background: url(../images/close.png) no-repeat 12px; }
.iCloud { background: url(../images/cloud.png) no-repeat 12px; }
.iCloudDownload { background: url(../images/cloudDownload.png) no-repeat 12px; }
.iCloudUpload { background: url(../images/cloudUpload.png) no-repeat 12px; }
.iCog { background: url(../images/cog.png) no-repeat 12px; }
.iCog2 { background: url(../images/cog2.png) no-repeat 12px; }
.iCog3 { background: url(../images/cog3.png) no-repeat 12px; }
.iCog4 { background: url(../images/cog4.png) no-repeat 12px; }
.iCompanies { background: url(../images/companies.png) no-repeat 12px; }
.iComputer { background: url(../images/computer.png) no-repeat 12px; }
.iCoverflow { background: url(../images/coverflow.png) no-repeat 12px; }
.iCreate { background: url(../images/create.png) no-repeat 12px; }
.iCup { background: url(../images/cup.png) no-repeat 12px; }
.iCut { background: url(../images/cut.png) no-repeat 12px; }

.iDayCalendar { background: url(../images/dayCalendar.png) no-repeat 12px; }
.iDelicious { background: url(../images/delicious.png) no-repeat 12px; }
.iDenied { background: url(../images/denied.png) no-repeat 12px; }
.iDialog { background: url(../images/dialog.png) no-repeat 12px; }
.iDigg { background: url(../images/digg.png) no-repeat 12px; }
.iDigg2 { background: url(../images/digg2.png) no-repeat 12px; }
.iDoc { background: url(../images/doc.png) no-repeat 12px; }
.iDocs { background: url(../images/docs.png) no-repeat 12px; }
.iDownload { background: url(../images/download.png) no-repeat 12px; }
.iDownload2 { background: url(../images/download2.png) no-repeat 12px; }
.iDownload3 { background: url(../images/download3.png) no-repeat 12px; }
.iDribbble { background: url(../images/dribbble.png) no-repeat 12px; }
.iDribbble2 { background: url(../images/dribbble2.png) no-repeat 12px; }
.iDrive { background: url(../images/drive.png) no-repeat 12px; }
.iDropbox { background: url(../images/dropbox.png) no-repeat 12px; }
.iDropper { background: url(../images/dropper.png) no-repeat 12px; }
.iDrupal { background: url(../images/drupal.png) no-repeat 12px; }
.iDvd { background: url(../images/dvd.png) no-repeat 12px; }

.iElectricity { background: url(../images/electricity.png) no-repeat 12px; }
.iElectroPlug { background: url(../images/electroPlug.png) no-repeat 12px; }
.iExcelDoc { background: url(../images/excelDoc.png) no-repeat 12px; }
.iExit { background: url(../images/exit.png) no-repeat 12px; }
.iExpengine { background: url(../images/expengine.png) no-repeat 12px; }
.iExpose { background: url(../images/expose.png) no-repeat 12px; }

.iFacebook { background: url(../images/facebook.png) no-repeat 12px; }
.iFax { background: url(../images/fax.png) no-repeat 12px; }
.iFemaleContour { background: url(../images/femaleContour.png) no-repeat 12px; }
.iFemaleSymbol { background: url(../images/femaleSymbol.png) no-repeat 12px; }
.iFiles { background: url(../images/files.png) no-repeat 12px; }
.iFilmCamera { background: url(../images/filmCamera.png) no-repeat 12px; }
.iFilmStrip { background: url(../images/filmStrip.png) no-repeat 12px; }
.iFilmStrip2 { background: url(../images/filmStrip2.png) no-repeat 12px; }
.iFirefox { background: url(../images/firefox.png) no-repeat 12px; }
.iFlag { background: url(../images/flag.png) no-repeat 12px; }
.iFlag2 { background: url(../images/flag2.png) no-repeat 12px; }
.iFlagFinished { background: url(../images/flagFinished.png) no-repeat 12px; }
.iFolder { background: url(../images/folder.png) no-repeat 12px; }
.iFootprints { background: url(../images/footprints.png) no-repeat 12px; }
.iFountainPen { background: url(../images/fountainPen.png) no-repeat 12px; }
.iFrames { background: url(../images/frames.png) no-repeat 12px; }
.iFull { background: url(../images/full.png) no-repeat 12px; }
.iFull2 { background: url(../images/full2.png) no-repeat 12px; }
.iFullscreen { background: url(../images/fullscreen.png) no-repeat 12px; }

.iGlobe { background: url(../images/globe.png) no-repeat 12px; }
.iGlobe2 { background: url(../images/globe2.png) no-repeat 12px; }
.iGmaps { background: url(../images/gmaps.png) no-repeat 12px; }
.iGoBack { background: url(../images/goBack.png) no-repeat 12px; }
.iGoFull { background: url(../images/goFull.png) no-repeat 12px; }
.iGraph { background: url(../images/graph.png) no-repeat 12px; }

.iHeart { background: url(../images/heart.png) no-repeat 12px; }
.iHd { background: url(../images/hd.png) no-repeat 12px; }
.iHd2 { background: url(../images/hd2.png) no-repeat 12px; }
.iHd3 { background: url(../images/hd3.png) no-repeat 12px; }
.iHeadphones { background: url(../images/headphones.png) no-repeat 12px; }
.iHelp { background: url(../images/help.png) no-repeat 12px; }
.iHome { background: url(../images/home.png) no-repeat 12px; }
.iHome2 { background: url(../images/home2.png) no-repeat 12px; }

.iIcecream { background: url(../images/icecream.png) no-repeat 12px; }
.iIchat { background: url(../images/ichat.png) no-repeat 12px; }
.iImage { background: url(../images/image.png) no-repeat 12px; }
.iImage2 { background: url(../images/image2.png) no-repeat 12px; }
.iImageList { background: url(../images/imageList.png) no-repeat 12px; }
.iImages { background: url(../images/images.png) no-repeat 12px; }
.iImages2 { background: url(../images/images2.png) no-repeat 12px; }
.iImagesList { background: url(../images/imagesList.png) no-repeat 12px; }
.iInbox { background: url(../images/inbox.png) no-repeat 12px; }
.iInbox2 { background: url(../images/inbox2.png) no-repeat 12px; }
.iIncoming { background: url(../images/incoming.png) no-repeat 12px; }
.iInfo { background: url(../images/info.png) no-repeat 12px; }
.iIpad { background: url(../images/ipad.png) no-repeat 12px; }
.iIphone { background: url(../images/iphone.png) no-repeat 12px; }
.iIpodClassic { background: url(../images/ipodClassic.png) no-repeat 12px; }
.iIpodNano { background: url(../images/ipodNano.png) no-repeat 12px; }

.iJoomla { background: url(../images/joomla.png) no-repeat 12px; }

.iKey { background: url(../images/key.png) no-repeat 12px; }

.iLadyPurse { background: url(../images/ladyPurse.png) no-repeat 12px; }
.iLamp { background: url(../images/lamp.png) no-repeat 12px; }
.iLaptop { background: url(../images/laptop.png) no-repeat 12px; }
.iLastFM { background: url(../images/lastFM.png) no-repeat 12px; }
.iLemonadeStand { background: url(../images/lemonadeStand.png) no-repeat 12px; }
.iLightBulb { background: url(../images/lightBulb.png) no-repeat 12px; }
.iLike { background: url(../images/like.png) no-repeat 12px; }
.iLink { background: url(../images/link.png) no-repeat 12px; }
.iLink2 { background: url(../images/link2.png) no-repeat 12px; }
.iLinux { background: url(../images/linux.png) no-repeat 12px; }
.iList { background: url(../images/list.png) no-repeat 12px; }
.iLoading { background: url(../images/loading.png) no-repeat 12px; }
.iLogoff { background: url(../images/logoff.png) no-repeat 12px; }
.iLocked { background: url(../images/locked.png) no-repeat 12px; }
.iLocked2 { background: url(../images/locked2.png) no-repeat 12px; }

.iMacos { background: url(../images/macos.png) no-repeat 12px; }
.iMagicMouse { background: url(../images/magicMouse.png) no-repeat 12px; }
.iMagnify { background: url(../images/magnify.png) no-repeat 12px; }
.iMail { background: url(../images/mail.png) no-repeat 12px; }
.iMaleContour { background: url(../images/maleContour.png) no-repeat 12px; }
.iMaleSymbol { background: url(../images/maleSymbol.png) no-repeat 12px; }
.iMap { background: url(../images/map.png) no-repeat 12px; }
.iMedicalCase { background: url(../images/medicalCase.png) no-repeat 12px; }
.iMegaphone { background: url(../images/megaphone.png) no-repeat 12px; }
.iMicrophone { background: url(../images/microphone.png) no-repeat 12px; }
.iMightyMouse { background: url(../images/mightyMouse.png) no-repeat 12px; }
.iMobile { background: url(../images/mobile.png) no-repeat 12px; }
.iMobyPicture { background: url(../images/mobyPicture.png) no-repeat 12px; }
.iMoney { background: url(../images/money.png) no-repeat 12px; }
.iMoney2 { background: url(../images/money2.png) no-repeat 12px; }
.iMonitor { background: url(../images/monitor.png) no-repeat 12px; }
.iMonthCalendar { background: url(../images/monthCalendar.png) no-repeat 12px; }
.iMouse { background: url(../images/mouse.png) no-repeat 12px; }
.iMusic { background: url(../images/music.png) no-repeat 12px; }
.iMyspace { background: url(../images/myspace.png) no-repeat 12px; }

.iNotebook { background: url(../images/notebook.png) no-repeat 12px; }

.iOutgoing { background: url(../images/outgoing.png) no-repeat 12px; }

.iPacman { background: url(../images/pacman.png) no-repeat 12px; }
.iPaintBrush { background: url(../images/paintBrush.png) no-repeat 12px; }
.iPants { background: url(../images/pants.png) no-repeat 12px; }
.iPaperclip { background: url(../images/paperclip.png) no-repeat 12px; }
.iPaypal { background: url(../images/paypal.png) no-repeat 12px; }
.iPaypal2 { background: url(../images/paypal2.png) no-repeat 12px; }
.iPaypal3 { background: url(../images/paypal3.png) no-repeat 12px; }
.iPdfDoc { background: url(../images/pdfDoc.png) no-repeat 12px; }
.iPencil { background: url(../images/pencil.png) no-repeat 12px; }
.iPhone { background: url(../images/phone.png) no-repeat 12px; }
.iPhone2 { background: url(../images/phone2.png) no-repeat 12px; }
.iPhone3 { background: url(../images/phone3.png) no-repeat 12px; }
.iPhotos { background: url(../images/photos.png) no-repeat 12px; }
.iPiggyBank { background: url(../images/piggyBank.png) no-repeat 12px; }
.iPin { background: url(../images/pin.png) no-repeat 12px; }
.iPlaneSuitcase { background: url(../images/planeSuitcase.png) no-repeat 12px; }
.iPlay { background: url(../images/play.png) no-repeat 12px; }
.iPlay2 { background: url(../images/play2.png) no-repeat 12px; }
.iPlixi { background: url(../images/plixi.png) no-repeat 12px; }
.iPodium { background: url(../images/podium.png) no-repeat 12px; }
.iPostcard { background: url(../images/postcard.png) no-repeat 12px; }
.iPower { background: url(../images/power.png) no-repeat 12px; }
.iPowerBattery { background: url(../images/powerBattery.png) no-repeat 12px; }
.iPpDoc { background: url(../images/ppDoc.png) no-repeat 12px; }
.iPresentation { background: url(../images/presentation.png) no-repeat 12px; }
.iPreview { background: url(../images/preview.png) no-repeat 12px; }
.iPriceTag { background: url(../images/pricetag.png) no-repeat 12px; }
.iPriceTags { background: url(../images/priceTags.png) no-repeat 12px; }
.iPrinter { background: url(../images/printer.png) no-repeat 12px; }

.iRadio { background: url(../images/radio.png) no-repeat 12px; }
.iRecord { background: url(../images/record.png) no-repeat 12px; }
.iRecycle { background: url(../images/recycle.png) no-repeat 12px; }
.iRefresh { background: url(../images/refresh.png) no-repeat 12px; }
.iRefresh2 { background: url(../images/refresh2.png) no-repeat 12px; }
.iRefresh3 { background: url(../images/refresh3.png) no-repeat 12px; }
.iRefresh4 { background: url(../images/refresh4.png) no-repeat 12px; }
.iRepeat { background: url(../images/repeat.png) no-repeat 12px; }
.iRobot { background: url(../images/robot.png) no-repeat 12px; }
.iRss { background: url(../images/iRss.png) no-repeat 12px; }
.iRuler { background: url(../images/ruler.png) no-repeat 12px; }
.iRuler2 { background: url(../images/ruler2.png) no-repeat 12px; }
.iRunningMan { background: url(../images/runningMan.png) no-repeat 12px; }

.iSafari { background: url(../images/safari.png) no-repeat 12px; }
.iScanLabel { background: url(../images/scanLabel.png) no-repeat 12px; }
.iSd { background: url(../images/sd.png) no-repeat 12px; }
.iSd2 { background: url(../images/sd2.png) no-repeat 12px; }
.iSd3 { background: url(../images/sd3.png) no-repeat 12px; }
.iSettings { background: url(../images/settings.png) no-repeat 12px; }
.iSettings2 { background: url(../images/settings2.png) no-repeat 12px; }
.iShirt { background: url(../images/shirt.png) no-repeat 12px; }
.iShoppingBag { background: url(../images/shoppingBag.png) no-repeat 12px; }
.iShuffle { background: url(../images/shuffle.png) no-repeat 12px; }
.iSignal { background: url(../images/signal.png) no-repeat 12px; }
.iSignPost { background: url(../images/signPost.png) no-repeat 12px; }
.iSkype { background: url(../images/skype.png) no-repeat 12px; }
.iSmallBrush { background: url(../images/smallBrush.png) no-repeat 12px; }
.iSocks { background: url(../images/socks.png) no-repeat 12px; }
.iSound { background: url(../images/sound.png) no-repeat 12px; }
.iSpeech { background: url(../images/speech.png) no-repeat 12px; }
.iSpeech2 { background: url(../images/speech2.png) no-repeat 12px; }
.iStar { background: url(../images/star.png) no-repeat 12px; }
.iStats { background: url(../images/stats.png) no-repeat 12px; }
.iStop { background: url(../images/stop.png) no-repeat 12px; }
.iStopWatch { background: url(../images/stopWatch.png) no-repeat 12px; }
.iStrategy { background: url(../images/strategy.png) no-repeat 12px; }
.iStrategy2 { background: url(../images/strategy2.png) no-repeat 12px; }
.iStumble { background: url(../images/stumble.png) no-repeat 12px; }
.iSuitcase { background: url(../images/suitcase.png) no-repeat 12px; }
.iSwitcher { background: url(../images/switcher.png) no-repeat 12px; }

.iTable { background: url(../images/table.png) no-repeat 12px; }
.iTag { background: url(../images/tag.png) no-repeat 12px; }
.iTags { background: url(../images/tags.png) no-repeat 12px; }
.iTimer { background: url(../images/timer.png) no-repeat 12px; }
.iTransfer { background: url(../images/transfer.png) no-repeat 12px; }
.iTrash { background: url(../images/trash.png) no-repeat 12px; }
.iTravelSuitcase { background: url(../images/travelSuitcase.png) no-repeat 12px; }
.iTree { background: url(../images/tree.png) no-repeat 12px; }
.iTrolly { background: url(../images/trolly.png) no-repeat 12px; }
.iTruck { background: url(../images/truck.png) no-repeat 12px; }
.iTumbler { background: url(../images/tumbler.png) no-repeat 12px; }
.iTv { background: url(../images/tv.png) no-repeat 12px; }
.iTwitter { background: url(../images/twitter.png) no-repeat 12px; }
.iTwitter2 { background: url(../images/twitter2.png) no-repeat 12px; }

.iUmbrella { background: url(../images/radio.png) no-repeat 12px; }
.iUnderConstruction { background: url(../images/underConstruction.png) no-repeat 12px; }
.iUnlocked { background: url(../images/unlocked.png) no-repeat 12px; }
.iUpload { background: url(../images/upload.png) no-repeat 12px; }
.iUser { background: url(../images/users.png) no-repeat 12px; }
.iUser2 { background: url(../images/user2.png) no-repeat 12px; }
.iUserComment { background: url(../images/userComment.png) no-repeat 12px; }
.iUsers { background: url(../images/users.png) no-repeat 12px; }
.iUsers2 { background: url(../images/users2.png) no-repeat 12px; }

.iVault { background: url(../images/vault.png) no-repeat 12px; }
.iVcard { background: url(../images/vcard.png) no-repeat 12px; }
.iView { background: url(../images/view.png) no-repeat 12px; }
.iVimeo { background: url(../images/vimeo.png) no-repeat 12px; }
.iVimeo2 { background: url(../images/vimeo2.png) no-repeat 12px; }

.iWalkingMan { background: url(../images/walkingMan.png) no-repeat 12px; }
.iWifi { background: url(../images/wifi.png) no-repeat 12px; }
.iWifi2 { background: url(../images/wifi2.png) no-repeat 12px; }
.iWindows { background: url(../images/windows.png) no-repeat 12px; }
.iWordDoc { background: url(../images/wordDoc.png) no-repeat 12px; }
.iWordpress { background: url(../images/wordpress.png) no-repeat 12px; }
.iWordpress2 { background: url(../images/wordpress2.png) no-repeat 12px; }

.iYoutube { background: url(../images/youtube.png) no-repeat 12px; }

.iZip { background: url(../images/zip.png) no-repeat 12px; }
.iZipFiles { background: url(../images/zipFiles.png) no-repeat 12px; }
